CSRF_ENABLED = True
SECRET_KEY = '1+$VEPUx@pTtn@s$$$$$woRt'
UPLOAD_FOLDER = 'application/uploaded_files'
MAX_CONTENT_LENGTH = 16 * 1024 * 1024
ALLOWED_EXTENSIONS = set(['txt', 'cpp', 'py', 'js', 'pas'])

SQLALCHEMY_TRACK_MODIFICATIONS = True
DATABASE_USER = ''
DATABASE_PASSWORD = ''
DATABASE_PORT = ''
DATABASE_NAME = ''

if DATABASE_NAME=='MySQL':
    SQLALCHEMY_DATABASE_URI = 'mysql://'+DATABASE_USER+':' + DATABASE_PASSWORD + '@localhost:' + DATABASE_PORT + '/test'
if DATABASE_NAME=="PostgreSQL":
    SQLALCHEMY_DATABASE_URI = 'postgresql://' + DATABASE_USER + ':'+ DATABASE_PASSWORD +'@localhost/test'
if DATABASE_NAME=="SQLite":
    import os
    basedir = os.path.abspath(os.path.dirname(__file__))
    SQLALCHEMY_DATABASE_URI = 'sqlite:///' + os.path.join(basedir, 'db.sqlite')
