CSRF_ENABLED = True
SECRET_KEY = '1+$VEPUx@pTtn@s$$$$$woRt'

SQLALCHEMY_TRACK_MODIFICATIONS = True

# MySQL
SQLALCHEMY_DATABASE_URI = 'mysql://root:root@localhost:3306/test'

# PostgreSQL
# SQLALCHEMY_DATABASE_URI = 'postgresql://root:root@localhost/test'

# SQLite
# import os
# basedir = os.path.abspath(os.path.dirname(__file__))
# SQLALCHEMY_DATABASE_URI = 'sqlite:///' + os.path.join(basedir, 'db.sqlite')
