<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset = "UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo_flower_only.png') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='img/logo_flower_only.png') }}" type="image/x-icon">
    {%- include "libs/bootstrap/links.html" -%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block includes %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top1 navbar-fixed-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">
                         <img src="/static/img/logo_word_only.png" width="90" height="20">
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" data-toggle="modal" data-target="#myModalLogin">
                        Сменить
                    </a>
                </li>
            </ul>
                <p class="navbar-text navbar-right">Вы вошли как <strong>{{login | safe}}</strong></p>
        </div>
    </nav>
    {% block content %}{% endblock %}
    {%- include "libs/bootstrap/scripts.html" -%}
    {% block scripts %}{% endblock %}
</body>
</html>
