<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset = "UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" type="text/javascript"></script>
        {% block includes %}{% endblock %}
        {% block scripts %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">
                            Главная
                        </a>
                    </li>
                    {% if disabled_login_btn %}
                    <li class="disabled"><a>Вход</a></li>
                    {% endif %}
                    {% if not disabled_login_btn %}
                    <li>
                        <a href="#" data-toggle="modal" data-target="#myModalLogin">
                            Вход
                        </a>
                    </li>
                    {% endif %}
                 </ul>
            </div>
        </nav>
        {% block content %}{% endblock %}
    </body>
</html>
