{% extends "base.html" %}

{% block title %}{{ chat_info["name"] }}{% endblock %}

{% block includes %}
    {%- include "libs/treant/links.html" -%}
    {%- include "libs/codemirror/links.html" -%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <h3 class="text-center" style="margin-top: -20px;">
             {{ chat_info["name"] }}
        </h3>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body chat-panel">
                            <div class="chat-panel__messages"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="message-sender col-md-10">
                    <div class="row">
                        <div class="col-md-12">
                            <textarea class="message-sender__content form-control"
                                      placeholder="Сообщение"
                                      rows="3"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="message-sender__hint col-md-9">
                            <strong>**жирный**</strong>&nbsp;
                            <em>_курсив_</em>&nbsp;
                            <code>`код`</code>&nbsp;
                            <code>```форматированный```</code>
                        </div>
                        <div class="col-md-3">
                            <button type="button"
                                    class="message-sender__to-send btn btn-primary btn-block">
                                Отправить
                            </button>
                        </div>
                    </div>
                </div>
                <div class="voice col-md-2">
                    <audio class="voice__audio"></audio>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="voice__switcher">
                            <img class="voice__icon"
                                 src="{{ url_for('static', filename='img/sound.png') }}" />
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <textarea class="code-editor"></textarea>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-6">
                    <div class="btn btn-default btn-block"
                         data-toggle="modal"
                         data-target="#code-sender">
                        Сохранить изменения
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="btn btn-default btn-block"
                         id="compare-btn">
                        Сравнить с исходным кодом
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="code-tree col-md-12"></div>
            </div>
        </div>
    </div>

    <div class="modal modal-wide fade" id="compare" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="main-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myLabel" align=center>Сравнить с исходным кодом</h4>
                </div>
                <div class="modal-body">
                    <div id="comp"></div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default" id="close-btn">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="code-sender" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" >
            <div class="main-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <p class="modal-title" id="myLabel">Отправка кода</p>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text"
                               class="code-sender__message form-control"
                               placeholder="Название коммита">
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="code-sender__to-send btn btn-primary">Отправить</div>
                    <div class="btn btn-default" data-dismiss="modal">Отмена</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {%- include "libs/push.html" -%}
    {%- include "libs/treant/scripts.html" -%}
    {%- include "libs/codemirror/scripts.html" -%}

<script type="text/javascript">
    var INTERVAL = 1000,
        IS_USE_SOCKET = {{ socket_mode | tojson }},
        MAIN_ICON_URL = "{{ url_for('static', filename='img/logo-x32.png') }}",
        CHAT_ID = "{{ chat_id }}",
        CODE_TYPE = "{{ chat_info['code_type'] }}",
        CODE_START_COMMIT = {{ chat_info.start_code.id }};

    var chat_index = "{{ chat_id }}",
        chat_code_type = "{{ chat_info['code_type'] }}",
        startCommit = {{ chat_info.start_code.id }},
        chosen_commit = 0;
    var parent_index = startCommit;
    $.ajaxSetup({
        headers: {
            'X-Csrf-Token': "{{ csrf_token() }}"
        }
    });
</script>

    {% if socket_mode %}
        {%- include "libs/socket.io.html" -%}
<script src="{{ url_for('static', filename='js/chat/socket_events.js') }}"></script>
    {% endif %}

<script src="{{ url_for('static', filename='js/chat/voice.kit.js') }}"></script>
<script src="{{ url_for('static', filename='js/chat/messages.js') }}"></script>
<script src="{{ url_for('static', filename='js/chat/code.js') }}"></script>
<script src="{{ url_for('static', filename='js/chat/compare_code.js') }}"></script>
<script type="text/javascript">
    jQuery(function ($) {
        // joinToChat
        $.ajax({
            type: "GET",
            url: "/join_chat",
            data: {
                chat: chat_index
            }
        });

        $("#login-btn").click(function() {
            if (chat_id == '')
                window.location = "/login";
            else
                window.location = "/login?chat=" + chat_id;
        });
    });
</script>
{% endblock %}
