{% extends "base.html" %}

{% block title %}{{ chat_info["name"] }}{% endblock %}

{% block includes %}
    {%- include "libs/treant/links.html" -%}
    {%- include "libs/codemirror/links.html" -%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
{% endblock %}

{% block content %}
<audio src="" id="audio"></audio>
<audio src="" id="sys_audio"></audio>
<div class="container-fluid">
    <div class="row">
        <h3 class="text-center" style="margin-top: -20px;">
             {{ chat_info["name"] }}
        </h3>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body chat-panel">
                    <div class="chat-panel__messages"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 message-sender">
                    <div class="row">
                        <div class="col-md-12">
                            <textarea class="form-control message-sender__content"
                                      placeholder="Сообщение"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9 message-sender__hint">
                            <strong>**жирный**</strong>&nbsp;
                            <em>_курсив_</em>&nbsp;
                            <code>`встроенный код`</code>&nbsp;
                            <code>```форматированный```</code>
                        </div>
                        <div class="col-md-3">
                            <button type="button"
                                    class="btn btn-primary btn-block message-sender__to-send"
                                    id="send-btn">
                                Отправить
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"  id="voice-check"><img src="{{ url_for('static', filename='img/sound.png') }}" id="voice-img" />
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" id="column">
            <textarea class="form-control" id="code-editor" rows="3"></textarea>
            <button type="submit" class="btn btn-default btn-block chat-control-btn" id="go-btn" data-toggle="modal" data-target="#send">Сохранить изменения</button>
            <div class="row">
                <div class="col-sm-12" id="column">
                    <div type="submit" class="btn btn-default btn-block chat-control-btn" id="compare-btn">Сравнить с исходным кодом</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" id="tree"></div>
            </div>
        </div>
    </div>

    <div class="modal modal-wide fade" id="compare" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="main-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myLabel" align=center>Сравнить с исходным кодом</h4>
                </div>
                <div class="modal-body">
                    <div rows="3" id="comp"></div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default" id="close-btn">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="send" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" >
            <div class="main-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <p class="modal-title" id="myLabel">Отправка кода</p>
                </div>
                <div class="modal-body">
                        <input type="text" class="form-control" placeholder="Название коммита" id="to_send">
                </div>
                <div class="modal-footer">
                    <button type="s" class="btn btn-default" id="send-btn" data-dismiss="modal" onclick="send_code()">Отправить</button>
                    <button type="s" class="btn btn-default" id="send-btn" data-dismiss="modal" onclick="$('#to_send').val('');">Отмена</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {%- include "libs/treant/scripts.html" -%}
    {%- include "libs/codemirror/scripts.html" -%}

    {% if socket_mode %}
        {%- include "libs/socket.io.html" -%}
    {% endif %}

<script type="text/javascript">
    var INTERVAL = 1000,
        RUS_IMAGE_ICON = '{{ url_for("static", filename="img/flag-rus.gif") }}',
        ENG_IMAGE_ICON = '{{ url_for("static", filename="img/flag-eng.gif") }}',
        IS_USE_SOCKET = {{ socket_mode | tojson }};

    var chat_index = {{ chat_id }},
        chat_code_type = "{{ chat_info['code_type'] }}",
        startCommit = {{ chat_info.start_code.id }},
        chosen_commit = 0;
    var parent_index = startCommit;
    $.ajaxSetup({
        headers: {
            'X-Csrf-Token': "{{ csrf_token() }}"
        }
    });
</script>

<script src="{{ url_for('static', filename='js/chat/voice.kit.js') }}"></script>
<script src="{{ url_for('static', filename='js/chat/notification.kit.js') }}"></script>
<script src="{{ url_for('static', filename='js/chat/messages.js') }}"></script>
<script src="{{ url_for('static', filename='js/chat/code.js') }}"></script>
<script src="{{ url_for('static', filename='js/chat/tree.js') }}"></script>
<script src="{{ url_for('static', filename='js/chat/compare_code.js') }}"></script>
    {% if socket_mode %}
<script src="{{ url_for('static', filename='js/chat/socket_events.js') }}"></script>
    {% endif %}
<script type="text/javascript">
    jQuery(function ($) {
        $("#login-btn").click(function() {
            if (chat_id == '')
                window.location = "/login";
            else
                window.location = "/login?chat=" + chat_id;
        });
    });
</script>
{% endblock %}
