{% extends "base.html" %}

{% block title %}{{ chat_info["name"] }}{% endblock %}

{% block includes %}
<!--Treant-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/Treant.css') }}" type="text/css"/>
<script src="{{ url_for('static', filename='js/vendor/raphael.js') }}"></script>
<script src="{{ url_for('static', filename='js/Treant.js') }}"></script>
<script type="text/javascript" charset="utf-8">
    var INTERVAL = 1000;
    var chat_index = {{ chat_id }};
    var chat_code_type ="{{ chat_info['code_type'] }}";
    var chosen_commit = 0;
</script>
<!-- CODEMIRROR -->
<script src="{{ url_for('static', filename='js/codemirror/lib/codemirror.js') }}"></script>
<script src="{{ url_for('static', filename='js/diff_match_patch.js') }}"></script>
<script src="{{ url_for('static', filename='js/codemirror/addon/merge/merge.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='js/codemirror/lib/codemirror.css') }}">
<script src="{{ url_for('static', filename='js/codemirror/mode/xml/xml.js') }}"></script>
<script src="{{ url_for('static', filename='js/codemirror/mode/javascript/javascript.js') }}"></script>
<script src="{{ url_for('static', filename='js/codemirror/mode/python/python.js') }}"></script>
<script src="{{ url_for('static', filename='js/codemirror/mode/htmlmixed/htmlmixed.js') }}"></script>
<script src="{{ url_for('static', filename='js/codemirror/mode/css/css.js') }}"></script>
<script src="{{ url_for('static', filename='js/codemirror/mode/clike/clike.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='js/codemirror/addon/merge/merge.css') }}">

{% if socket_mode %}
<!--socketIO-->
<script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
{% endif %}

{% endblock %}

{% block scripts %}

{% if socket_mode %}
<script type="text/javascript" charset="utf-8">
    var parent_index = -1;
    jQuery(function ($) {
        get_messages();
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('connect', function() {
            socket.emit('join', chat_index);
        });
        socket.on('disconnect', function() {
            socket.emit('leave', chat_index);
        });

        socket.on('message', function(data) {
            add_message(data);
        });

        socket.on('commit', function() {
            get_tree("tree");
        });

        $.ajax({
            type: "GET",
            url: "/add_chat",
            data: {
                chat_id: chat_index
            }
        });
        $("#send-btn").click(function() {
            socket.emit('message', {'message':$("#message-input").val(), 'room':chat_index, 'type':'usr'});
            $("#message-input").val('');
        });
    });
</script>
{% endif %}

<script type="text/javascript">
    var last_index = 0;
    
    function append_to_textarea(message) {
        if (message.type == "sys"){
            var text =  '<div class="well well-sm text-center" id="system_message">' + "<b>" + message.author + '</b><br />'+ message.message +"</div>";
        }else{
            var text =  '<div class="well well-sm" id="user_message">' +"<b>" + message.author + '</b><br>'+ message.message + "</div>";
        }
        $("#chat-panel").append(text);
        if ($("#voice-check").prop("checked")){
            if (message.type != 'sys') {
                var text_to_play = message.author + ' сказал ' + message.message;
                voice.addText(text_to_play);
            } else {
                var text_to_play = message.message;
                voice.addText(text_to_play);
            }
        };
    };
    var voice = {
        stack: [],
        currentIndex: -1,
        isBusy:false,
        play: function(){
            console.log('Play');
            voice.isBusy = true;
            this.currentIndex += 1;
            var url = 'https://tts.voicetech.yandex.net/generate?'+
            'key=2308bf65-4316-45e9-bcec-0f9d86a7ab63'+
            '&text='+encodeURI(this.stack[this.currentIndex])+
            '&fornat=wav'+
            '&lang=ru-RU'+
            '&speaker=jane';

            this.audio.src = url;
            this.audio.load();
        },
        init: function() {
            this.audio = document.getElementById('audio');

            this.audio.onloadeddata = function(){
                console.log('onloadeddata');
                voice.audio.play();
            };

            this.audio.onended = function(){
                console.log('onended');
                voice.checkEnd();
            };

        },
        checkEnd: function(){
            console.log('checkEnd');
            this.isBusy = false;
            voice.checkPlay();
        },
        checkPlay: function (){
            console.log('checkPlay');
            if (!this.isBusy &&  this.stack.length != (this.currentIndex + 1) ){
                voice.play();
            }
        },
        addText: function(text){
            console.log('addText');
            this.stack.push(text);
            this.checkPlay();

        }
    };


    function get_scrollHeight(element) {
        var pr = element.scrollTop();
        element.scrollTop(element.get(0).scrollHeight);
        var res = element.scrollTop();
        element.scrollTop(pr);
        return res;
    }
    function add_message(message) {
        var t = false;

        if (get_scrollHeight($('#chat-panel')) == $('#chat-panel').scrollTop())
            t = true;
        append_to_textarea(message);
        if (t)
            $('#chat-panel').scrollTop($('#chat-panel').get(0).scrollHeight);
        if (("Notification" in window) && (Notification.permission === "granted")) {
            var notification = new Notification(message.author, {body:message.message});
            Notification.sound; 
        }
        else if (Notification.permission !== 'denied') {
            Notification.requestPermission(function (permission) {
                if (permission === "granted") {
                    var notification = new Notification(message.author, {body:message.message});
                    Notification.sound;
                }   
            });
            
        }
    }

    function get_messages() {
        $.ajax({
            url: "/get_messages",
            data: {
                "chat": chat_index
            },
            dataType: "json",
            success: function(data) {
                var messages = data;
                for (var i = last_index; i < messages.length; i++){
                    add_message(messages[i]);
                }
                last_index=messages.length;
            }
        });
    }
    function send_code() {
        $.ajax({
            url:"/send_code",
            type:"GET", 
            data:{ 
                chat: chat_index, 
                code: editor.getValue(),
                parent: parent_index,
                cname: $('#to_send').val()
            },
            dataType:'json',
            error: function() {
                alert('Извините, произошла ошибка при загрузке кода!');
            }
        });
    }
    jQuery(function ($) {
        voice.init();
        if (chat_code_type == "C++"){
            chat_code_type = "text/x-c++src"
        }
        if (chat_code_type == "Html"){
                chat_code_type = "htmlmixed"
        }
        if (chat_code_type == "Java"){
                chat_code_type = "javascript"
        }
        if (chat_code_type == "Python"){
            chat_code_type = "python"
        }
        {% if not socket_mode %}
        get_messages();
        var timerId = setInterval(function (){
                    get_messages();
                    get_tree("tree");
                }, INTERVAL);
        {% endif %}
        chat_index =  location.pathname.substr(location.pathname.lastIndexOf("/") + 1);
        $("#message-input").keypress(function(e) {
            if(e.which == 13) {
                $("#send-btn").click();
            }
        });
        editor = CodeMirror.fromTextArea($('#code-editor').get(0), {
            mode: {
                name: chat_code_type,
                version: 2,
                singleLineStringErrors: false
            },
            lineNumbers: true,
            indentUnit: 4,
            matchBrackets: true,
            value: "print('Hello World!')"
        });
        get_tree('tree');
        get_code(0);
        {% if not socket_mode %}
        $("#send-btn").click(function() {
            $.ajax({
                url: "/send_message",
                data: {
                    "chat": chat_index,
                    "message" : $("#message-input").val()
                }
            });
            $("#message-input").val('');
        });
        {% endif %}
        $("#login-btn").click(function() {
        if (chat_id == '') window.location = "/login";
        else window.location = "/login?chat=" + chat_id;
        });
    });

    function get_tree(objecy_id) {
        $.ajax({
            url:"/tree",
            type:"GET",
            data:{
                chat: chat_index
            },
            dataType: "html",
            success: function( node_structure ) {
                config = {
                    container: "#" + objecy_id,
                    levelSeparation: 70,
                    siblingSeparation: 70,
                    rootOrientation: "WEST"
                };

                simple_chart_config = {
                    chart: config,
                    nodeStructure: $.parseJSON(node_structure)
                };
                var tree = new Treant(simple_chart_config);
            }
        });
    }

    function get_code(commit_index){
        console.log($("#commit-button" + commit_index))
        $("#commit-button" + chosen_commit).removeClass("chosen");
        $("#commit-button" + commit_index).addClass("chosen");

        chosen_commit = commit_index;
        $.ajax({
            url:"/get_code",
            type:"GET",
            data:{
                chat: chat_index,
                index: commit_index
            },
            dataType: "json",
            success: function(data){
                parent_index = commit_index;
                editor.getDoc().setValue(data.code);
            }
        });
    }

</script>

{% endblock %}

{% block content %}
<audio src="" id="audio">
</audio>
<audio src="" id="sys_audio">
</audio>
<div class="container-fluid">
    <div class="row">
        <h3 class="text-center" style="margin-top: -20px;">
             {{ chat_info["name"] }}
        </h3>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body" id="chat-panel">

                </div>
            </div>
            <label for="message-input" class="sr-only">Сообщение</label>
            <div class="row">
                <div class="col-sm-12">
                    <div class="input-group">
                        <input type="text" class="form-control" id="message-input" placeholder="Пиши здесь" maxlength="1000">
                        <div class="input-group-btn"> 
                                <button type="button" class="btn btn-primary btn-block" style="border-radius: 0px" id="send-btn">Отправить</button>
                        </div>
                        <span class="input-group-addon">
                            <input type="checkbox"  id="voice-check"> <image src="{{ url_for('static', filename='img/sound.png') }}"></image>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <strong>**жирный**</strong> <em>_курсив_</em> <code>`встроенный код`</code> <code>```форматированный```</code>
                </div>
            </div>
        </div>
        <div class="col-md-6" id="column">
            <textarea class="form-control" id="code-editor" rows="3"></textarea>
            <button type="submit" class="btn btn-default btn-block chat-control-btn" id="go-btn" data-toggle="modal" data-target="#send">Сохранить изменения</button>
            <div class="row">
                <div class="col-sm-12" id="column">
                    <div type="submit" class="btn btn-default btn-block chat-control-btn" id="compare-btn">Сравнить с исходным кодом</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" id="tree"></div>
            </div>
        </div>
    </div>

    <div class="modal modal-wide fade" id="compare" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="main-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myLabel" align=center>Сравнить с исходным кодом</h4>
                </div>
                <div class="modal-body">
                    <div rows="3" id="comp"></div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default" id="close-btn">Закрыть</button> 
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        jQuery(function ($) {
            $('#compare').on('shown.bs.modal', function () {
                $.ajax({
                    url:"/get_code",
                    type:"GET",
                    data:{
                        chat: chat_index,
                        index: 0
                    },
                    dataType: "json",
                    success: function(data){
                        var target = $("#comp");
                        target.empty();
                        dv = CodeMirror.MergeView(target[0], {
                            value: data.code,
                            mode: {
                                name: chat_code_type,
                                version: 2,
                                singleLineStringErrors: false
                            },
                            orig: editor.getValue(),
                            lineNumbers: true,
                            highlightDifferences: true,
                            readOnly: true,
                            revertButtons: false
                        });
                    }
                });
            });
            $('#compare-btn').click(function () {
                $('#compare').modal("show");
            });
            $('#close-btn').click(function () {
                $('#compare').modal("hide");
            });
            
        });
    </script>
    <div class="modal fade" id="send" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" >
            <div class="main-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <p class="modal-title" id="myLabel">Отправка кода</p>
                </div>
                <div class="modal-body">
                        <input type="text" class="form-control" placeholder="Название коммита" id="to_send">
                </div>
                <div class="modal-footer">
                    <button type="s" class="btn btn-default" id="send-btn" data-dismiss="modal" onclick="send_code()">Отправить</button> 
                    <button type="s" class="btn btn-default" id="send-btn" data-dismiss="modal" onclick="$('#to_send').val('');">Отмена</button> 
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
