<link rel="stylesheet" href="{{ url_for('static', filename='css/Treant.css') }}" type="text/css"/>
<script src="{{ url_for('static', filename='js/vendor/raphael.js') }}"></script>
<script src="{{ url_for('static', filename='js/Treant.js') }}"></script>

<div id="tree-simple" style="width: 300px; height: 300px; margin:0 auto;"> </div>
<script type="text/javascript">
	config = {
		container: "#tree-simple"
	};
	{% for commit in commits %}
	node{{ commit['id'] }} = {
		{% if commit['head'] == "0" %}parent: node{{ commit['parent'] }},{% endif %}
		text: { name: "{{ commit['id'] }}" },	
	};
	{% endfor %}

	simple_chart_config = [
		config{% for commit in commits %}, node{{ commit['id'] }}{% endfor %}
	];
	var tree = new Treant(simple_chart_config);
</script>
