{% extends "base.html" %}

{% block includes %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<script src="{{ url_for('static', filename='js/jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" type="text/javascript"></script>
<script type="text/javascript" src="angular-recaptcha.js"></script>
<script src='https://www.google.com/recaptcha/api.js?onload=CaptchaCallback&render=explicit' async defer></script>
{% endblock %}

{% block content %}
 <div id="help_platform">
    <h1>Заполните форму.</h1>
    <form method="post" action="/send_feedbacks">
        {{ feedback_form.hidden_tag() }}
        <p class="note"><span class="req">*</span> Поля со звездочкой обязательны для заполнения!!!</p>
        <div class="row">
            <label for="name">Ваше имя <span class="req">*</span></label>
            <input type="text" class="txt" id="name_for_feedback" tabindex="1" placeholder="Иван Иванов" required>
        </div>
        <div class="row">
            <label for="email">E-mail адрес <span class="req">*</span></label>
            <input type="email" class="txt" id="email_for_feedback" tabindex="2" placeholder="ivan.ivanov@mail.ru" required>
        </div>
        <div class="row">
            <label for="message">Ваш вопрос <span class="req">*</span></label>
            <textarea class="txtarea" id="text_for_feedback" tabindex="3" required></textarea>
        </div>
        <div id="RecaptchaField"> </div>
        <div class="center">
            <input type="submit" id="submitbtn" tabindex="4" value="Отправьте запрос">
        </div>
    </form>
  </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    var CaptchaCallback = function() {
        if ( $('#RecaptchaField').length ) {
            grecaptcha.render('RecaptchaField', {'sitekey' : '6Lf1eCUUAAAAANoxJbNS7FJMKrFiuQdpKsjzbTQP'});
        }
    }
</script>
{% endblock %}
