{% extends "base.html" %}

{% block includes %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<script src='https://www.google.com/recaptcha/api.js?onload=CaptchaCallback&render=explicit' async defer></script>
{% endblock %}

{% block content %}
<form id="help_platform" role="form" method="post" action="/send_feedbacks">
    <div class="form-group">
        <h1>Заполните форму:</h1>
    </div>
    {{ feedback_form.hidden_tag() }}
    <div class="form-group">
        <p class="note"><span class="req">*</span> Поля со звездочкой обязательны для заполнения!!!</p>
    </div>
    <div class="form-group">
        <label for="name"> Ваше имя <span class="req">*</span></label>
        <input type="text" class="form-control" name="name" placeholder="Иван Иванов" required>
    </div>
    <div class="form-group">
        <label for="email"> Email адрес <span class="req">*</span></label>
        <input type="email" class="form-control" name="email" placeholder="ivan.ivanov@mail.ru" required>
    </div>
    <div class="form-group">
        <label for="message"> Ваш вопрос <span class="req">*</span></label>
        <textarea class="form-control" name="text" required></textarea>
    </div>
    <div class="form-group">
        <label for="message"> Антиспам <span class="req">*</span></label>
        <div id="RecaptchaField"> </div>
    </div>
    <div class="form-group">
        <div class="col-md-9 col-md-offset-2">
            <input type="submit" id="submitbtn" value="Отправьте запрос">
        </div>
    </div>
</form>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    var CaptchaCallback = function() {
        if ( $('#RecaptchaField').length ) {
            grecaptcha.render('RecaptchaField', {'sitekey' : "{{RECAPTCHA_SITE_KEY}}"});
        }
    }
</script>
{% endblock %}
