{% extends "base.html" %}

{% block includes %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<script src='https://www.google.com/recaptcha/api.js?onload=CaptchaCallback&render=explicit' async defer></script>
{% endblock %}

{% block content %}
<div class="container main-container">
    <div class="row">


    <form class="col-md-offset-2 col-md-8" method="POST" action="/feedback">
        <h1>Заполните форму:</h1>
        {{ feedback_form.hidden_tag() }}
        <div class="row">
            <div class="form-group  col-md-6 {{ 'has-error' if feedback_form.errors.name}}">
                <label class="control-label">
                    Ваше имя <span class="glyphicon require-icon"></span>
                </label>
                <input type="text" class="form-control" name="name"
                       placeholder="Иван Иванов"
                       value="{{feedback_form.data.name|d('', true)}}"
                       required/>
            </div>
            <div class="form-group col-md-6 {{ 'has-error' if feedback_form.errors.email}}">
                <label class="control-label">
                    Email адрес <span class="glyphicon require-icon"></span>
                </label>
                <input type="email"
                       class="form-control"
                       name="email"
                       placeholder="ivan.ivanov@mail.ru"
                       value="{{feedback_form.data.email|d('', true)}}">
            </div>
        </div>
        <div class="form-group {{ 'has-error' if feedback_form.errors.text}}">
            <label class="control-label">
                Ваш вопрос <span class="glyphicon require-icon"></span>
            </label>
            <textarea class="form-control" name="text" rows=4>
                   {{- feedback_form.data.text|d('', true) -}}
            </textarea>
        </div>
        <div class="form-group">
            <div id="RecaptchaField"></div>
        </div>
        <p class="note">
            <span class="glyphicon require-icon"></span> Поля со звездочкой обязательны для заполнения!!!
        </p>
       <div class="form-group">
            <button type="submit"
                    class="btn btn-primary col-md-2 col-md-offset-10">
                Отправить
            </button>
        </div>
    </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    var CaptchaCallback = function() {
        if ( $('#RecaptchaField').length ) {
            grecaptcha.render('RecaptchaField', {'sitekey' : "{{RECAPTCHA_SITE_KEY}}"});
        }
    }
</script>
{% endblock %}
