{% extends "base.html" %}

{% block title %}Василёк{% endblock %}

{% block content %}
    <div class="modal fade" id="myModalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog">
            <div class="main-content">
                <form action="" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <div class="modal-header">
                            <label class="center-block">Вход</label>
                        </div>
                        <div class="modal-body">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Логин" name="login" />
                                <span class="input-group-btn">
                                    <input class="btn btn-primary" type="submit" value="Вход">
                                </span>
                            </div>
                            
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog" >
            <div class="main-content">
                <form method="POST" action = "/create_chat" enctype="multipart/form-data">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Создание чата</h4>
                    </div>
                    <div class="modal-body">
                        <div class = "row">
                            <div class="col-md-6 col-md-offset-3">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Название чата</label>
                                        <input type="text" class="form-control" id="chatname" placeholder="" name = "name">
                                    </div>
                                    <select class="form-control" id="Compile" name="code_type">
                                        <option>C++</option>
                                        <option>Python</option>
                                        <option>Java</option>
                                    </select>
                                    <div class="form-group">
                                        <input type="file" name = "file">
                                    <<span class="input-group-btn">
                            <input type="submit" class="btn btn-primary" value="Найти"  formmethod="get">
                        </span></div>
                            </div>
                            <div class="col-md-10 col-md-offset-1">
                                <textarea class="form-control" rows="5" name="code"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-lg btn-primary">Создать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class = "container main-container">
        <div class = "row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="text-center"><b>Василёк - это бесплатный, удобный и наглядный портал для совместной разработки кода.</b></h2>
                <p class = "text-center" style="font-size: 20;">С помощью данного портала, вы перестанете страдать от сбившегося форматирования и сложных решений для неработающих программ. Василёк помогает Вам работать с кодом вместе с другими разработчиками, а также общаться и получать помощь.</p>
            </div>
        </div>
        <div class = "row">
            <div class="col-md-8 col-md-offset-2 main-content">
                {% if in_session %}
                <button class="btn btn-lg btn-primary center-block" id="chat-create-btn" data-toggle="modal" data-target="#myModal" style="margin-top: 10px;">
                    Создать чат
                </button>
                {% else %}
                <button class="btn btn-lg btn-primary disabled center-block" id="chat-create-btn" data-placement="right" data-toggle="tooltip" title="Необходимо войти">
                    Создать чат
                </button>
                {% endif %}
                <div>
                    {% with message = get_flashed_messages()[0] %}
                    <p class="text-center">{{ message }}</p>
                    {% endwith %}
                </div>
                <form>
                    <div class="input-group">
                        <input type="search" class="form-control" name="search_title_text" placeholder="Поиск чатов" value="{{search_title_text}}">
                        <span class="input-group-btn">
                            <input type="submit" class="btn btn-primary" value="Найти"  formmethod="get">
                        </span>
                    </div>
                </form>    
                {% if chats|length == 0 %}  
                    <p class="text-center">Чаты отсутствуют</p>      
                {% else %}
                    <table class="table">  
                        <tr>
                            <th>Название</th>
                            <th>Язык программирования</th>
                            <th></th>
                        </tr>
                        {% for chat in chats %}
                            <tr>
                            <td>{{chat.name}}</td>
                            <td>{{chat.code_type}}</td>
                            <td>
                                {% if in_session %}
                                <a href="/chat/{{ chat.id }}">
                                    <button class="btn btn-primary btn-xs">Перейти</button>
                                {% else %}
                                <a>
                                    <button class="btn btn-primary btn-xs disabled" data-placement="right" data-toggle="tooltip" title="Необходимо войти">Перейти</button>
                                {% endif %}
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                     </table>
                {% endif %} 
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $("[data-toggle='tooltip']").tooltip();
        });
    </script>


{% endblock %}