{% extends "base.html" %}

{% block title %}Василёк{% endblock %}

{% block includes %}
<!-- CODEMIRROR -->
<script src="{{ url_for('static', filename='js/codemirror/lib/codemirror.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='js/codemirror/lib/codemirror.css') }}">
<script src="{{ url_for('static', filename='js/codemirror/mode/xml/xml.js') }}"></script>
<script src="{{ url_for('static', filename='js/codemirror/mode/javascript/javascript.js') }}"></script>
<script src="{{ url_for('static', filename='js/codemirror/mode/python/python.js') }}"></script>
<script src="{{ url_for('static', filename='js/codemirror/mode/htmlmixed/htmlmixed.js') }}"></script>
<script src="{{ url_for('static', filename='js/codemirror/mode/css/css.js') }}"></script>
<script src="{{ url_for('static', filename='js/codemirror/mode/clike/clike.js') }}"></script>
{% endblock %}

{% block content %}
<div class="light-sprite">
    <div class = "container main-container">
        <div class = "row">
            <div class="col-md-4">
                <img class="center-block" src="/static/img/logo.png" width="250" height="250" />
            </div>
            <div class="col-md-8">
                <h1>Сервис для эффективного поиска ошибок в своем коде</h1>
                <p class="text-size_medium">С помощью данного приложения вы сможете получить помощь и консультации от других разработчиков или помочь найти ошибки в коде</p>
                <div class="col-md-8 col-md-offset-2 ">
                    <button class="btn btn-lg btn-primary center-block btn-block"
                            id="chat-create-btn"
                            data-toggle="modal" data-target="#chat-create">
                        Присоединиться
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dark-sprite">
    <div class = "container">
        <div class = "row">
            <div class="col-md-8 col-md-offset-2">
                <h2>Возможности</h2>
                <ul class="text-size_medium">
                    <li>Удобный обмен кодом</li>
                    <li>Каждое изменение кода сохраняется</li>
                    <li>Возможность визуально видеть различия в коде между До и После</li>
                    <li>Обсуждение и комментирование</li>
                    <li>Приватность и анонимность</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class = "light-sprite">
    <div class = "container">
        <div class = "row">
            <div class="col-md-8 col-md-offset-2">
                <form action="#find" method="POST">
                    {{ find_chat_form.hidden_tag() }}
                    <h2 class="text-center">
                        Поиск чатов
                    </h2>
                    <div class="input-group" style="margin-top: 10px;">
                        <input type="text"
                               class="form-control"
                               name="chat_title"
                               placeholder="Введите название"
                               value="{{find_chat_form.chat_title.data}}">
                        <span class="input-group-btn">
                            <input type="submit" class="btn btn-primary" value="Найти">
                        </span>
                    </div>
                </form>
                {% if chats|length == 0 %}
                    <p class="text-center">Чаты отсутствуют</p>
                {% else %}
                    <table class="table">
                        <tr>
                            <th>Название</th>
                            <th>Язык программирования</th>
                            <th>Дата создания</th>
                            <th></th>
                        </tr>
                        {% for chat in chats %}
                        <tr>
                            <td style="width:40%">{{chat.name | safe}}</td>
                            <td style="width:25%">{{chat.code_type}}</td>
                            <td style="width:20%">{{chat.create_time.strftime('%Y-%m-%d %H:%M')}}</td>
                            <td class="text-right">
                                <a href="/chat/{{ chat.id }}"
                                   class="btn btn-primary btn-xs">
                                    Перейти
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                     </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
