{% extends "base.html" %}
{% block content %}
	{% if in_session %}
	<button class="btn btn-lg btn-primary" style="margin-bottom:10px" data-toggle="modal" data-target="#myModal">
	    Создать чат
	</button>
	{% else %}
	<button class="btn btn-lg btn-primary disabled" style="margin-bottom:10px">
	    Создать чат
	</button>
	{% endif %}
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	   	<div class="modal-dialog" >
			<div class="modal-content" style="border: 2px solid #424f5e; background: #1b2c3e; padding: 2%;">
				<form method="POST" action = "/create_chat" enctype="multipart/form-data">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        		<h4 class="modal-title" id="myModalLabel">Создание чата</h4>
		      		</div>
					<div class="modal-body">
						<center>
							<div class = "row">
								<div class="col-md-6 col-md-offset-3">
										<div class="form-group">
										    <label for="exampleInputEmail1">Название чата</label>
										    <input type="text" class="form-control" id="chatname" placeholder="" name = "name">
										</div>
										<select class="form-control" id="Compile" name="code_type">
										  	<option>C++</option>
										  	<option>Python 2.7</option>
										  	<option>Java</option>
										  	<option>Pascal</option>
										  	<option>Python 3.5</option>
										  	<option>BrainFuck</option>
										  	<option>Basic</option>
										  	<option>Другое</option>
										</select>
										<div class="form-group">
											<input type="file" name = "file">
										</div>
								</div>
								<div class="col-md-10 col-md-offset-1">
									<textarea class="form-control" rows="5" name="code"></textarea>
								</div>
							</div>
						</center>
		   			</div>
					<div class="modal-footer">
	 					<button type="submit" class="btn btn-lg btn-primary">Создать</button>
		      		</div>
	      		</form>
	   		</div>
		</div>
	</div>
	<div class="input-group">
		<span class="input-group-btn">
		 	{% if in_session %}
	        <button class="btn btn-primary" type="button" onclick="location.href='/chat/'+$('#chat-id').val();">Подключиться к чату</button>
	        {% else %}
	        <button class="btn btn-primary disabled" type="button">Подключиться к чату</button>
	        {% endif %}
	    </span><input type="number" min="1" class="form-control" placeholder="ID" id="chat-id" />
	</div>
	<div>
		{% with messages = get_flashed_messages()%}
		{% for message in messages %}
		<div>{{ message }}</div>
		{% endfor %}
		{% endwith %}
	</div>
{% endblock %}
{% block search_chat %}

    <form>
		<div class="input-group">

				<input type="search" class="form-control" name="search_title_text" placeholder="Поиск чатов">
				<span class="input-group-btn">
					<input type="submit" class="btn btn-info" value="Найти"  formmethod="get">
				</span>
</div>
</form>

{% endblock %}
{% block search_res %}
		<table class="table">
  			<tr>
				<th>Название</th>
				<th>Автор</th>
				<th>Язык</th>
			</tr>
			{% for chat in chats %}
  			<tr>
				<td>{{chat.name}}</td>
				<td>UNKNOWN</td>
				<td>UNKNOWN</td>
			</tr>
			{% endfor %}
		</table>
{% endblock %}
