<link rel="stylesheet" href="{{ url_for('static', filename='css/Treant.css') }}" type="text/css"/>
<script src="{{ url_for('static', filename='js/vendor/raphael.js') }}"></script>
<script src="{{ url_for('static', filename='js/Treant.js') }}"></script>

<div id="tree" style="width: 300px; height: 300px"> </div>
<script type="text/javascript">
	config = {
		container: "#tree",
	};

	{% for commit in commits %}
	{{ commit.id }} = {
		{% if commit.parent != 0 %}
		parent: {{ commit.parent }}
		{% endif %}
		text: { name: "{{ commit.id }}" }
	};
	{% endfor %}

	tree_conf = [
		config, 
		{% for commit in commits %}
		{{ commit.id }},
		{% endfor %}
	];

	var tree = new Treant(tree_conf);
</script>