<!DOCTYPE html>
<html>
<head>
	<title>Proba</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
</head>
<body>
	<audio src="" id="audio">
	
	</audio>
	<textarea id ="text" style="width: 300px; height: 200px">
	
	</textarea>
	<br />
	<input value="Воиспроизвести" type="button" onclick="voice()"/>
	<script type="text/javascript">
	
	var voice = function (){
	var text = document. getElementById('text').value;
	var audio = document. getElementById('audio');
		var url = 'https://tts.voicetech.yandex.net/generate?'+
		'key=2308bf65-4316-45e9-bcec-0f9d86a7ab63'+
		'&text='+encodeURI(text)+
		'&fornat=wav'+
		'&lang=ru-RU'+
		'&speaker=ermil';
		
		audio.src = url;
		audio.load();
		audio.onloadeddata = function(){
			audio.play();
		}
			
	};
	</script>

</body>
</html>