@font-face {font-family: "PT Sans Narrow";
  src: url("../font/PT_Sans_Narrow.eot"); /* IE9*/
  src: url("../font/PT_Sans_Narrow.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../font/PT_Sans_Narrow.woff2") format("woff2"), /* chrome、firefox */
  url("../font/PT_Sans_Narrow.woff") format("woff"), /* chrome、firefox */
  url("../font/PT_Sans_Narrow.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../font/PT_Sans_Narrow.svg#PT Sans Narrow") format("svg"); /* iOS 4.1- */
}

body{
    font-family: "PT Sans Narrow";
    width: 100%;
    height: 100%;
    background-color: #00598c;
    color: #DDD;
}

.light-sprite,
.dark-sprite{
    padding: 20px 0;
}
.light-sprite{
    background: #F1F1F1;
    color: #333;
}
.light-sprite table{
    color: #333;
}
.dark-sprite{
    background: #00598c;
    color: #DDD;
}

.text-size_medium{
    font-size: 1.4em;
}

.navbar-inverse {
    background-color: #004973;
    border-color: #002840;
    border-width: 0;
    font-size: 1.2em;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-text{
    color: #DDD;
}
.navbar-text{
    margin-top: 14px;
    margin-bottom: 14px;
}
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover{
    background: #002840;
}

.main-content{
    border: 2px solid #004973;
    background: #00598c;
}

.nav-button{
    padding-left: 20px;
}

.main-container{
    padding-top: 75px;
}

#chat-create-btn{
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 25;
    color:#ffffff;
}

#thmbnl-trnsprnt{
    background:transparent;
}

#thmbnl-cptn{
    font-size: 20;
    color:#ffffff;
}

#thmbnl-txt{
    font-size: 15;
    color:#ffffff;
}

#code-editor{
    resize: vertical;
}

.chat-control-btn{
    margin-top: 10px;
}

.modal-wide .modal-dialog{
    width: 90%;
}
.modal{
    padding: 0px;
}
.close{
    color: #fff;
    opacity: 1;
}

.commit_node{
    background: white;
}
.commit_node.chosen {
    background: red;
    font-weight: 600;
}

p{
    margin: 0;
}
