body{
    width: 100%;
    height: 100%;
    background-color: #2f3e4e;
    
}

.main-content{
    border: 2px solid #424f5e;
    background: #1b2c3e;
    padding: 2%;
}

.nav-button{
    padding-left: 20px;
}

.main-container{
    padding-top: 75px;
}

#chat-create-btn{
    margin-bottom:10px;
}

#system_message{
    width: 50%;
    word-wrap: break-word;
    margin-left: auto;
    margin-right: auto; 
}

#user_message{
    width: 70%;
    word-wrap: break-word;
    margin-right: auto; 
}

#chat-panel{
    min-height: 500;
    max-height: 500;
    overflow-y: scroll; 
}

#new_index_body,
.grey_text,
#new_index_body table th,
#new_index_body table td{
    color: #dddddd;
}



#code-editor{
    resize: vertical;
}

.chat-control-btn{
    margin-top:10px;
}

.message{
    word-wrap: break-word;
    color: #000000;
}
