<!DOCTYPE html>
<html lang="en">
<head>
	<title>EXAMPLE</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>

<body>
	<div class="container" style="border: 1px solid red;">
		<div class="row">
			<div class="col-md-1" style="border: 1px solid green;">
				1
			</div>
			<div class="col-md-2 col-md-offset-4" style="border: 1px solid green;">
				4
			</div>
			<div class="col-md-1 col-md-offset-4" style="border: 1px solid green;">
				2
			</div>
			<div class="col-md-12" style="border: 1px solid green;">
				3
			</div>
		</div>
	</div>
</body>
</html>