<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>

<body>
	<form role="form">
        <div class="form-group">
            <label for="exampleInputLogin1">Введите логин </label>
            <input type="login" class="form-control" id="exampleInputLogin1" placeholder="login">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Введите почту </label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="example@mail.ru">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Введите пароль</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="password">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Проверить меня
            </label>
        </div>
        <button type="submit" class="btn btn-default">Зарегестрироваться</button>
    </form>
</body>
</html>